.header {
    text-align: center;
    padding: 20em 0;
    color: #fff;
    filter: brightness(100%);
}

.home-header {
    text-align: center;
    color: #fff;
}

.carousel-inner img {
    padding-top: 10px;
    
}

.carousel-item img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    filter: brightness(50%);
}

.pr-header-image {
    background-image: url('img/programming\ header2.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
}

.or-header-image {
    background-image: url('img/Website-Cropped-01 copy.jpeg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
}

.me-header-image {
    background-image: url('img/Website-Cropped-04.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -120px;
}

h1 {
    font-size: 64pt;
}

.mission-statement {
    background-color: #3046b5;
    text-align: center;
    padding: 5% 0;
    color: #fff;
    padding-left: 10rem;
    padding-right: 10rem;
}

.mission-statement p {
    font-size: 17pt;
}

.mission-statement h2 {
    font-size: 30pt;
}

.navbar {
    background-color: #fff;
    /* ov/erflow: hidden; */
    padding-bottom: .55rem;
    padding-top: .55rem;
}

.navbar-logo {
    padding-right: .5rem;
}

.navbar a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: .3rem;
}

.nav-item {
    padding-right: .2rem;
}

.nav-link {
    padding-right: .2rem;
}

.navbar-logo {
    width: auto;
    height: 50px;
}

.dark {
    background-color: #212121;
}

.navbar a:hover {
    background-color: #044caaa1;
    color: black;
    border-radius: 0.3rem;
}

.navbar a.active {
    background-color: #044caa;
    color: white;
    border-radius: 0.3rem;
}

.navbar-toggler-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/59/Hamburger_icon_white.svg');
}

.img1 {
    width: 50%;
    height: 100%;
}

.img2 {
    width: 50%;
    height: 50%;
}

.img3 {
    width: 50%;
    height: 50%;
}

.membership-level>ul {
    list-style: none;
    display: flex;
    width: 100vw;
    margin-top: 10px;
    flex-basis: 30%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.contact {
    background-color: #3046b5;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        display: none;
    }
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64pt;
    font-weight: 500
  }