.header {
    background-color: rgb(163, 163, 163, 2);
    text-align: center;
    padding: 20em 0;
    color: #fff;
    /*background-image: url('https://www.firstinspires.org/sites/all/themes/first/assets/images/2020/ftc/event-experience.jpg');*/
}

h1 {
    font-size: 64pt;
}

.mission-statement {
    background-color: rgb(201, 163, 163);
    text-align: center;
    padding: 5% 0;
    color: #fff;
    padding-left: 10rem;
    padding-right: 10rem;
}

.mission-statement p {
    font-size: 17pt;
}

.mission-statement h2 {
    font-size: 30pt;
}

/* NAVBAR */

/* Add a black background color to the top navigation */
.navbar {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: .3rem;
}

.nav-item {
    padding-right: .2rem;
}

.nav-link {
    padding-right: .2rem;
}

.navbar-logo {
    width: auto;
    height: 50px;
}

.dark {
    background-color: #212121;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #044caaa1;
    color: black;
    border-radius: 0.3rem;
}

/* Add an active class to highlight the current page */
.navbar a.active {
    background-color: #044caa;
    color: white;
    border-radius: 0.3rem;
}

@media only screen and (max-width: 775px) {
    .main-title {
        font-size: 40pt;
    }
}

/* Hide the link that should open and close the navbar on small screens */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 775px) {
    .navbar {
        display: none;
    }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */